
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,100&display=swap');
:root{
    --letra:'Roboto Serif', serif;
    --blueCentral:#3BB2C7;
    --blueLight:#A2E7F3;
    --blueFly:#D8EFF3;
}

*{
    margin: 25px;
}

/* Header */
header{
    background-color:var(--blueFly);
    font-family: var(--letra);
    
}

.menu-principal{
    display: flex;
    justify-content: center;
    
}
.menu-principal>li{
    padding: 30px;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style-type: none;
}

/* Main */

main{
    background-color: var(--blueCentral);
    color: white;
    display: flex;
}
main>section{
    width: 75%;
    font-family: var(--letra);
}
main>aside{
    width: 25%;
    font-family: var(--letra);
}

.iconos-servicios{
    display: flex;
    justify-content: center;
    
}
.iconos{
    background-color: var(--blueLight);
    border: 20px solid whitesmoke;
    color: grey;
    border-radius: 20px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.iconos-img{
    width: 100px;
    height: 100px;
    margin: auto;
    
    
}
.blog-article{
    display: flex;
    justify-content: center;
}

article{
    border: 1px solid black;
    padding: 25px;
}
/* Footer */

footer{
    background-color: var(--blueLight);
    font-family: var(--letra);
}
.footer-section-top{
    display: flex;
    flex-direction: row;
}
.footer-section-bottom{
    display: flex;
}
.footer-section-bottom-first{
    width: 75%;
}
.footer-section-bottom-second{
width: 25%;
}