
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,100&display=swap');
:root{
    --letra:'Roboto Serif', serif;
    --blueCentral:#3BB2C7;
    --blueLight:#A2E7F3;
    --blueFly:#D8EFF3;
}

*{
    margin: 10px;
}

/* Header */
header{
    background-color:var(--blueFly);
    font-family: var(--letra);
    
}

.menu-principal{
    display: flex;
    justify-content: center;
    
}
.menu-principal>li{
    padding: 40px;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style-type: none;
}

/* Main */

main{
    background-color: var(--blueCentral);
    color: white;
    display: flex;
}
main>section{
    width: 75%;
    font-family: var(--letra);
}
main>aside{
    width: 25%;
    font-family: var(--letra);
}

.iconos-servicios{
    display: flex;
    justify-content: center;
    
}
.iconos{
    border: 1px solid black;
    border-radius: 20px;
    padding: 25px;
}
.blog-article{
    display: flex;
    justify-content: center;
}

article{
    border: 1px solid black;
    padding: 25px;
}
/* Footer */

footer{
    background-color: var(--blueLight);
}